.container {
	--card-bg-color: #eee;
	position: relative;
	width: 100%;
	height: 345px;
	cursor: pointer;
	transition: all ease-in-out 0.1s;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--card-bg-color);
}

.container:hover {
	transform: translateY(-5px);
}

.title {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 15px 0;
	color: var(--main-text-color);
	background-color: rgba(136, 136, 136, 0.3);
	opacity: 1;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
}
